@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: sans-serif;
    background-color: black;
    font-size: 24px;
}

header,nav,main,.info,article,footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    
    padding:15px ;
    margin-bottom: 20px;
}

.button {
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

main{
    flex-direction: column;
}

nav {
    justify-content: center;
    border-top: 5px solid white;
    gap: 100px;
    border-bottom: 5px solid white;
    padding: 25px 84px;
    
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: 40px ;
    margin-bottom:25px ;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    gap: 50px;
    margin: 0px;
}

article {
    background-color: white;
    flex-direction: column;
    padding: 15px 45px 30px 45px;
    justify-content: center;
    width: 420px;
    margin: ;
}

.article-but {
    text-decoration: none;
    background-color: #2FFF05;
    font-weight: 600;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}

footer {
    background-color: white;
    justify-content: center;
    gap: 52px
}

footer a {
    margin-right: ;
}

footer p {
    font-size: 24px;
}

